<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}">
    <meta charset="utf-8">
    <title>Edit Tool</title>
  </head>
  <body>
    <form action="#" method="post">
      <label for="name">Name: </label>
      <input type="text" name="name" value="{{tool.name}}" maxlength="100">
      <label for="description">Description: </label>
      <input type="text" name="description" value="{{tool.description}}">
      <label for="type">Type: </label>
      <select name="type">
        <option value="Hand Tools">Hand Tool</option>
        <option value="Power Tools">Power Tool</option>
      </select>
      <label for="price">Price: </label>
      <input type="text" name="price" value="{{tool.price}}">
      <button type="submit" name="button">Submit Changes</button>
    </form>
  </body>
</html>
