 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Your Very Own Page</title>
  <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
  </head>
<div class="body-container">
  <body>
  	<h1 class="title">I Love you</h1>
		<p>So, I probably should've started with... <h2>Happy Valentine's
		   Day</h2> but I wanted to point out the obvious first. I
		   love you.
		</p>
		<br>
			<div class="heart-container">
			<div class="heart"></div>
			</div>
		<br>
		<p>I learn from you constantly. Your ideas for the future, the
		   way you bounce back from adversity, and more importantly,
		   the way you handle the children. I wish I coud be more like
		   you in so many ways.
		</p>
		<p>You are the definition of a caretaker. Your whole world revolves around 
making sure that everybody is okay, all the time. I don't know how you don't get broken down.
You just keep on dishing it out, like some sort of care fairy, or everlasting lunch providing fountain.
		</p>
		<p>One day, I'll be able to buy you nice things. Put you in the most fabulous attire, 
and fly around on 'vacation'. I'd like to know what that is, and I'd like to experience it with you.
		</p>
		<p>For now, I can make you this. A series of lines of code written just for you. Built
on top a server, created by me. I want to build the best web applications in the world. Even if I achieve
that dream, it could never compare to how I feel building with you.
		</p>
		<p>~Marcus</p>
  </body>
</div>
</html>

