<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    {% include "header.html" %}
 <div class = "container">
     {% for brand in brands %}
     <div class = "brand-container">
         <div class = "brand-name">
             <a href="{{url_for('showBrandPage', brand_id = brand.id)}}">
                 <h3>{{brand.name}}</h3>
             </a>
         </div>
         <div class = "brand-description">
             <p>{{brand.description}}</p>
         </div>
     </div>
     {% endfor %}
 </div>
  </body>
</html>
